*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    height: 280px;
    align-content: center;
    margin-top: 20%;
}
.box{
    width: 50px;
    height: 50px;
    margin: 0px;
    background-color: orange;
}
.col2{
    justify-content: center;
    align-self: center;
}
.box2{
    background-color: white;
    width: 50px;
    height: 50px;
    margin: 0px;
}
.col3, .col4, .col8{
    margin-right: 10px;
}
.col7{
    margin-right: 40px;
}